In [17]:
import pandas as pd
df = pd.read_csv('./datasets/game_sales.csv')

In [18]:
df.head()

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating,date
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.54,76.0,51.0,8.0,324.0,E,2006-10-09
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,1985-01-20
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0,E,2008-11-16
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0,E,2009-11-25
4,Pokemon Red/Pokemon Blue,G,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,1996-08-17

In [19]:
global_sales = df["global_sales"]

print("mean    :", global_sales.mean())
print("median  :", global_sales.median()) 
print("mode    :", global_sales.mode()[0]) # returns the modes of each column or row.
print("min     :", global_sales.min())
print("max     :", global_sales.max())
print("var     :", global_sales.var())
print("std     :", global_sales.std())
print("sum     :", global_sales.sum())
print("quantile:", global_sales.quantile())

mean    : 0.5166946231617646
median  : 0.16
mode    : 0.01
min     : 0.01
max     : 82.54
var     : 2.3300149944629593
std     : 1.5264386638391205
sum     : 8994.619999999999
quantile: 0.16