In [1]:
import pandas as pd
df = pd.read_csv('./datasets/game_sales.csv')

In [2]:
df.head()

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating,date
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.54,76.0,51.0,8.0,324.0,E,2006-10-09
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,1985-01-20
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0,E,2008-11-16
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0,E,2009-11-25
4,Pokemon Red/Pokemon Blue,G,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,1996-08-17

In [3]:
# Drop duplicates by the genre column.
df.drop_duplicates(subset="genre").sort_values("genre").head()

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating,date
16,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.02,9.14,0.98,3.97,21.12,97.0,50.0,8.2,4009.0,M,2013-07-15
51,Super Mario Land 2: 6 Golden Coins,G,1992.0,Adventure,Nintendo,6.16,2.04,2.69,0.29,11.18,NaN,NaN,NaN,NaN,NaN,1992-08-07
41,Super Smash Bros. Brawl,Wii,2008.0,Fighting,Nintendo,6.64,2.56,2.66,1.01,12.87,93.0,81.0,8.9,1667.0,T,2008-05-14
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,E,2006-11-16
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,1985-01-20

In [4]:
# Drop duplicates by the genre and platform columns.
df.drop_duplicates(subset=["genre", "platform"]).sort_values("genre").head()

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating,date
156,Grand Theft Auto V,XOne,2014.0,Action,Take-Two Interactive,2.93,2.32,0.00,0.49,5.74,97.0,14.0,7.9,774.0,M,2014-10-05
1801,Resident Evil - Code: Veronica,DC,2000.0,Action,Eidos Interactive,0.41,0.23,0.47,0.03,1.14,NaN,NaN,NaN,NaN,NaN,2000-07-13
110,The Legend of Zelda: Twilight Princess,Wii,2006.0,Action,Nintendo,3.74,2.14,0.60,0.68,7.16,95.0,73.0,9.0,1664.0,T,2006-09-01
125,The Legend of Zelda,NES,1986.0,Action,Nintendo,3.74,0.93,1.69,0.14,6.51,NaN,NaN,NaN,NaN,NaN,1986-06-10
140,Driver,PS,1999.0,Action,GT Interactive,3.11,2.80,0.02,0.33,6.27,87.0,22.0,8.0,81.0,T,1999-07-18

In [5]:
# Publishers by most genre.
publisher_genre = df.drop_duplicates(subset=["publisher", "genre"])
publisher_genre[["publisher"]].value_counts(sort=True)

publisher
Eidos Interactive       12
D3Publisher             12
Take-Two Interactive    12
Banpresto               12
Electronic Arts         12
                        ..
NCS                      1
Mystique                 1
Myelin Media             1
Mycom                    1
responDESIGN             1
Length: 627, dtype: int64

In [6]:
# Platforms by most genre.
platform_genre = df.drop_duplicates(subset=["platform", "genre"])
platform_genre[["platform"]].value_counts(sort=True)

platform
PS          12
PS4         12
PS2         12
PSP         12
PSV         12
PC          12
SAT         12
SNES        12
N64         12
Wii         12
WiiU        12
GC          12
GBA         12
X           12
DS          12
X360        12
3DS         12
PS3         12
XOne        11
G           11
NES         10
GEN         10
2600        10
DC           9
SCD          5
3DO          3
NG           2
TG16         2
WS           2
PCFX         1
GG           1
dtype: int64

In [7]:
# Proportions of the dataset by genre.
df[["genre"]].value_counts(sort=True, normalize=True)

genre
Action          0.201057
Sports          0.138270
Misc            0.104090
Role-Playing    0.088752
Adventure       0.084903
Shooter         0.077436
Racing          0.073587
Simulation      0.053079
Platform        0.051700
Fighting        0.049632
Strategy        0.042165
Puzzle          0.035329
dtype: float64