In [1]:
from IPython.display import display

In [2]:
import pandas as pd
df = pd.read_csv('./datasets/game_sales.csv')

In [3]:
df.head()

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating,date
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.54,76.0,51.0,8.0,324.0,E,2006-10-09
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,1985-01-20
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0,E,2008-11-16
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0,E,2009-11-25
4,Pokemon Red/Pokemon Blue,G,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,1996-08-17

In [4]:
df.index

RangeIndex(start=0, stop=17408, step=1)

In [5]:
df.columns

Index(['name', 'platform', 'year', 'genre', 'publisher', 'na_sales',
       'eu_sales', 'jp_sales', 'other_sales', 'global_sales', 'critic_score',
       'critic_count', 'user_score', 'user_count', 'rating', 'date'],
      dtype='object')

In [6]:
# Setting a column as the index
# Values dont need to be unique
df = df.set_index("name")
df.head()

,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating,date
name,,,,,,,,,,,,,,,
Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.54,76.0,51.0,8.0,324.0,E,2006-10-09
Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,1985-01-20
Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0,E,2008-11-16
Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0,E,2009-11-25
Pokemon Red/Pokemon Blue,G,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,1996-08-17

In [7]:
# Removing an index
df = df.reset_index()
df.head()

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating,date
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.54,76.0,51.0,8.0,324.0,E,2006-10-09
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,1985-01-20
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0,E,2008-11-16
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0,E,2009-11-25
4,Pokemon Red/Pokemon Blue,G,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,1996-08-17

In [8]:
# Dropping the index
df_by_names = df.set_index('name')
df_by_names.reset_index(drop=True).head()

,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating,date
0,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.54,76.0,51.0,8.0,324.0,E,2006-10-09
1,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,1985-01-20
2,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0,E,2008-11-16
3,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0,E,2009-11-25
4,G,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,1996-08-17

In [9]:
filtr = ["Super Mario Bros.", "Grand Theft Auto V"]

# Subsetting by column.
ss1 = df[df["name"].isin(filtr)]

# Subsetting by index.
# loc filters on index values.
ss2 = df.set_index('name').loc[filtr]

display(ss1.head())
display(ss2.head())

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating,date
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,1985-01-20
16,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.02,9.14,0.98,3.97,21.12,97.0,50.0,8.2,4009.0,M,2013-07-15
23,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.66,5.17,0.06,1.41,16.30,97.0,58.0,8.1,3722.0,M,2013-04-02
37,Grand Theft Auto V,PS4,2014.0,Action,Take-Two Interactive,4.12,6.77,0.39,2.08,13.36,97.0,66.0,8.3,2955.0,M,2014-06-11
156,Grand Theft Auto V,XOne,2014.0,Action,Take-Two Interactive,2.93,2.32,0.00,0.49,5.74,97.0,14.0,7.9,774.0,M,2014-10-05

,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating,date
name,,,,,,,,,,,,,,,
Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,1985-01-20
Super Mario Bros.,G,1999.0,Platform,Nintendo,3.40,1.30,0.15,0.22,5.07,NaN,NaN,NaN,NaN,NaN,1999-07-04
Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.02,9.14,0.98,3.97,21.12,97.0,50.0,8.2,4009.0,M,2013-07-15
Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.66,5.17,0.06,1.41,16.30,97.0,58.0,8.1,3722.0,M,2013-04-02
Grand Theft Auto V,PS4,2014.0,Action,Take-Two Interactive,4.12,6.77,0.39,2.08,13.36,97.0,66.0,8.3,2955.0,M,2014-06-11

In [10]:
# Multi-level indexes aka Hierarchical Indexes
# Values dont need to be unique and can be multiple.

indexed = df.set_index(['platform', 'genre'])
indexed.head()

                                           name    year publisher  na_sales  \
platform genre
Wii      Sports                      Wii Sports  2006.0  Nintendo     41.36
NES      Platform             Super Mario Bros.  1985.0  Nintendo     29.08
Wii      Racing                  Mario Kart Wii  2008.0  Nintendo     15.68
         Sports               Wii Sports Resort  2009.0  Nintendo     15.61
G        Role-Playing  Pokemon Red/Pokemon Blue  1996.0  Nintendo     11.27

                       eu_sales  jp_sales  other_sales  global_sales  \
platform genre
Wii      Sports           28.96      3.77         8.45         82.54
NES      Platform          3.58      6.81         0.77         40.24
Wii      Racing           12.80      3.79         3.29         35.57
         Sports           10.95      3.28         2.95         32.78
G        Role-Playing      8.89     10.22         1.00         31.37

                       critic_score  critic_count  user_score  user_count  \
platform genre
Wii      Sports                76.0          51.0         8.0       324.0
NES      Platform               NaN           NaN         NaN         NaN
Wii      Racing                82.0          73.0         8.3       712.0
         Sports                80.0          73.0         8.0       193.0
G        Role-Playing           NaN           NaN         NaN         NaN

                      rating        date
platform genre
Wii      Sports            E  2006-10-09
NES      Platform        NaN  1985-01-20
Wii      Racing            E  2008-11-16
         Sports            E  2009-11-25
G        Role-Playing    NaN  1996-08-17

In [11]:
# Subsetting the outer level index.
indexed.loc[['PC']]

                                                 name    year  \
platform genre
PC       Simulation                        The Sims 3  2009.0
         Role-Playing               World of Warcraft  2004.0
         Role-Playing                      Diablo III  2012.0
         Simulation        Microsoft Flight Simulator  1996.0
         Strategy      StarCraft II: Wings of Liberty  2010.0
...                                               ...     ...
         Shooter                   Blacksite: Area 51  2007.0
         Sports                    Virtua Tennis 2009  2009.0
         Strategy                            BC Kings  2008.0
         Strategy                       CivCity: Rome  2006.0
         Adventure        CSI: 3 Dimensions of Murder  2006.0

                                    publisher  na_sales  eu_sales  jp_sales  \
platform genre
PC       Simulation           Electronic Arts      0.99      6.42       0.0
         Role-Playing              Activision      0.09      6.22       0.0
         Role-Playing              Activision      2.45      2.17       0.0
         Simulation    Microsoft Game Studios      3.22      1.69       0.0
         Strategy                  Activision      2.58      1.69       0.0
...                                       ...       ...       ...       ...
         Shooter                 Midway Games      0.00      0.00       0.0
         Sports                          Sega      0.00      0.00       0.0
         Strategy              Strategy First      0.00      0.00       0.0
         Strategy        Take-Two Interactive      0.00      0.00       0.0
         Adventure                    Ubisoft      0.00      0.00       0.0

                       other_sales  global_sales  critic_score  critic_count  \
platform genre
PC       Simulation           0.60          8.01          86.0          75.0
         Role-Playing         0.00          6.31          93.0          57.0
         Role-Playing         0.54          5.17          88.0          86.0
         Simulation           0.20          5.12           NaN           NaN
         Strategy             0.59          4.85          93.0          82.0
...                            ...           ...           ...           ...
         Shooter              0.00          0.01          60.0          20.0
         Sports               0.00          0.01          68.0           8.0
         Strategy             0.00          0.01           NaN           NaN
         Strategy             0.00          0.01          67.0          46.0
         Adventure            0.00          0.01           NaN           NaN

                       user_score  user_count rating        date
platform genre
PC       Simulation           7.6       894.0      T  2009-09-23
         Role-Playing         7.3      2199.0      T  2004-04-06
         Role-Playing         4.0      9643.0      M  2012-08-13
         Simulation           NaN         NaN    NaN  1996-02-15
         Strategy             8.2      3057.0      T  2010-01-08
...                           ...         ...    ...         ...
         Shooter              4.9        42.0      T  2007-04-08
         Sports               6.5        19.0      E  2009-03-17
         Strategy             NaN         NaN    NaN  2008-03-10
         Strategy             6.9        32.0   E10+  2006-12-08
         Adventure            NaN         NaN    NaN  2006-09-07

[1128 rows x 14 columns]

In [12]:
# Subsetting the outer level index.
indexed.loc[['PC', 'PS4']]

                                                  name    year  \
platform genre
PC       Simulation                         The Sims 3  2009.0
         Role-Playing                World of Warcraft  2004.0
         Role-Playing                       Diablo III  2012.0
         Simulation         Microsoft Flight Simulator  1996.0
         Strategy       StarCraft II: Wings of Liberty  2010.0
...                                                ...     ...
PS4      Action              Woodcutter Simulator 2016  2015.0
         Misc                           We Sing (2016)  2016.0
         Action        The Escapists: The Walking Dead  2016.0
         Action                               Ziggurat  2016.0
         Platform                       Super Meat Boy  2016.0

                                    publisher  na_sales  eu_sales  jp_sales  \
platform genre
PC       Simulation           Electronic Arts      0.99      6.42       0.0
         Role-Playing              Activision      0.09      6.22       0.0
         Role-Playing              Activision      2.45      2.17       0.0
         Simulation    Microsoft Game Studios      3.22      1.69       0.0
         Strategy                  Activision      2.58      1.69       0.0
...                                       ...       ...       ...       ...
PS4      Action            Namco Bandai Games      0.00      0.01       0.0
         Misc                      THQ Nordic      0.01      0.00       0.0
         Action               Team17 Software      0.00      0.00       0.0
         Action             Milkstone Studios      0.00      0.00       0.0
         Platform                   Team Meat      0.00      0.00       0.0

                       other_sales  global_sales  critic_score  critic_count  \
platform genre
PC       Simulation           0.60          8.01          86.0          75.0
         Role-Playing         0.00          6.31          93.0          57.0
         Role-Playing         0.54          5.17          88.0          86.0
         Simulation           0.20          5.12           NaN           NaN
         Strategy             0.59          4.85          93.0          82.0
...                            ...           ...           ...           ...
PS4      Action               0.00          0.01           NaN           NaN
         Misc                 0.00          0.01           NaN           NaN
         Action               0.00          0.01          63.0           5.0
         Action               0.00          0.01          80.0           8.0
         Platform             0.00          0.01          85.0           7.0

                       user_score  user_count rating        date
platform genre
PC       Simulation           7.6       894.0      T  2009-09-23
         Role-Playing         7.3      2199.0      T  2004-04-06
         Role-Playing         4.0      9643.0      M  2012-08-13
         Simulation           NaN         NaN    NaN  1996-02-15
         Strategy             8.2      3057.0      T  2010-01-08
...                           ...         ...    ...         ...
PS4      Action               NaN         NaN    NaN  2015-11-24
         Misc                 NaN         NaN    NaN  2016-01-25
         Action               7.4         5.0      T  2016-12-14
         Action               7.1        19.0      T  2016-07-03
         Platform             7.0       114.0      T  2016-02-16

[1552 rows x 14 columns]

In [13]:
# Subsetting the inner level indexes.
indexed.loc[[('PC', 'Action'), ('PS4','Action')]]

                                            name    year  \
platform genre
PC       Action                     Guild Wars 2  2012.0
         Action                   Tomb Raider II  1997.0
         Action               Grand Theft Auto V  2015.0
         Action                      Tomb Raider  1996.0
         Action    Grand Theft Auto: San Andreas  2005.0
...                                          ...     ...
PS4      Action                      Tumblestone  2016.0
         Action            Gal Gun: Double Peace  2015.0
         Action        Woodcutter Simulator 2016  2015.0
         Action  The Escapists: The Walking Dead  2016.0
         Action                         Ziggurat  2016.0

                             publisher  na_sales  eu_sales  jp_sales  \
platform genre
PC       Action                 NCSoft      0.97      1.09      0.00
         Action      Eidos Interactive      0.91      1.25      0.00
         Action   Take-Two Interactive      0.40      0.74      0.00
         Action      Eidos Interactive      0.96      0.07      0.00
         Action   Take-Two Interactive      0.00      0.93      0.00
...                                ...       ...       ...       ...
PS4      Action  Nighthawk Interactive      0.01      0.00      0.00
         Action                  PQube      0.00      0.00      0.01
         Action     Namco Bandai Games      0.00      0.01      0.00
         Action        Team17 Software      0.00      0.00      0.00
         Action      Milkstone Studios      0.00      0.00      0.00

                 other_sales  global_sales  critic_score  critic_count  \
platform genre
PC       Action         0.28          2.34          90.0          69.0
         Action         0.13          2.29           NaN           NaN
         Action         0.09          1.23          96.0          57.0
         Action         0.00          1.03          86.0          18.0
         Action         0.04          0.97          93.0          47.0
...                      ...           ...           ...           ...
PS4      Action         0.00          0.01           NaN           NaN
         Action         0.00          0.01           NaN           NaN
         Action         0.00          0.01           NaN           NaN
         Action         0.00          0.01          63.0           5.0
         Action         0.00          0.01          80.0           8.0

                 user_score  user_count rating        date
platform genre
PC       Action         7.9      2958.0      T  2012-11-09
         Action         8.2        39.0    NaN  1997-02-02
         Action         7.9      3826.0      M  2015-01-04
         Action         8.5      3572.0      M  1996-07-07
         Action         8.9      1864.0      M  2005-07-01
...                     ...         ...    ...         ...
PS4      Action         NaN         NaN      E  2016-03-19
         Action         NaN         NaN    NaN  2015-06-03
         Action         NaN         NaN    NaN  2015-11-24
         Action         7.4         5.0      T  2016-12-14
         Action         7.1        19.0      T  2016-07-03

[351 rows x 14 columns]

In [14]:
indexed.head()

                                           name    year publisher  na_sales  \
platform genre
Wii      Sports                      Wii Sports  2006.0  Nintendo     41.36
NES      Platform             Super Mario Bros.  1985.0  Nintendo     29.08
Wii      Racing                  Mario Kart Wii  2008.0  Nintendo     15.68
         Sports               Wii Sports Resort  2009.0  Nintendo     15.61
G        Role-Playing  Pokemon Red/Pokemon Blue  1996.0  Nintendo     11.27

                       eu_sales  jp_sales  other_sales  global_sales  \
platform genre
Wii      Sports           28.96      3.77         8.45         82.54
NES      Platform          3.58      6.81         0.77         40.24
Wii      Racing           12.80      3.79         3.29         35.57
         Sports           10.95      3.28         2.95         32.78
G        Role-Playing      8.89     10.22         1.00         31.37

                       critic_score  critic_count  user_score  user_count  \
platform genre
Wii      Sports                76.0          51.0         8.0       324.0
NES      Platform               NaN           NaN         NaN         NaN
Wii      Racing                82.0          73.0         8.3       712.0
         Sports                80.0          73.0         8.0       193.0
G        Role-Playing           NaN           NaN         NaN         NaN

                      rating        date
platform genre
Wii      Sports            E  2006-10-09
NES      Platform        NaN  1985-01-20
Wii      Racing            E  2008-11-16
         Sports            E  2009-11-25
G        Role-Playing    NaN  1996-08-17

In [15]:
# Sorting by index values
indexed.sort_index()

                                          name    year  \
platform genre
2600     Action                        Frogger  1981.0
         Action    E.T.: The Extra Terrestrial  1981.0
         Action                         Combat  1977.0
         Action                     Spider-Man  1981.0
         Action                Custers Revenge  1981.0
...                                        ...     ...
XOne     Sports              Rugby Challenge 3  2016.0
         Strategy               State of Decay  2015.0
         Strategy        Angry Birds Star Wars  2013.0
         Strategy                       XCOM 2  2016.0
         Strategy        Battle Worlds: Kronos  2016.0

                                publisher  na_sales  eu_sales  jp_sales  \
platform genre
2600     Action              Parker Bros.      2.06      0.12       0.0
         Action                     Atari      1.84      0.11       0.0
         Action                     Atari      1.17      0.07       0.0
         Action              Parker Bros.      0.87      0.05       0.0
         Action                  Mystique      0.76      0.05       0.0
...                                   ...       ...       ...       ...
XOne     Sports      Alternative Software      0.00      0.01       0.0
         Strategy  Microsoft Game Studios      0.15      0.05       0.0
         Strategy              Activision      0.11      0.04       0.0
         Strategy    Take-Two Interactive      0.06      0.02       0.0
         Strategy            Nordic Games      0.01      0.00       0.0

                   other_sales  global_sales  critic_score  critic_count  \
platform genre
2600     Action           0.02          2.20           NaN           NaN
         Action           0.02          1.97           NaN           NaN
         Action           0.01          1.25           NaN           NaN
         Action           0.01          0.93           NaN           NaN
         Action           0.01          0.82           NaN           NaN
...                        ...           ...           ...           ...
XOne     Sports           0.00          0.01           NaN           NaN
         Strategy         0.02          0.22           NaN           NaN
         Strategy         0.02          0.16          53.0           4.0
         Strategy         0.01          0.09          87.0          17.0
         Strategy         0.00          0.01          65.0           4.0

                   user_score  user_count rating        date
platform genre
2600     Action           NaN         NaN    NaN  1981-08-18
         Action           NaN         NaN    NaN  1981-03-02
         Action           NaN         NaN    NaN  1977-11-10
         Action           NaN         NaN    NaN  1981-11-19
         Action           NaN         NaN    NaN  1981-10-18
...                       ...         ...    ...         ...
XOne     Sports           6.6         5.0      E  2016-12-18
         Strategy         NaN         NaN    NaN  2015-07-01
         Strategy         6.9        63.0      E  2013-01-01
         Strategy         8.0        45.0      T  2016-04-12
         Strategy         NaN         NaN   E10+  2016-12-02

[17408 rows x 14 columns]

In [16]:
# Controlling the sorting.
indexed.sort_index(level=['platform', 'genre'], ascending=[False, False])

                                    name    year               publisher  \
platform genre
XOne     Strategy         State of Decay  2015.0  Microsoft Game Studios
         Strategy  Angry Birds Star Wars  2013.0              Activision
         Strategy                 XCOM 2  2016.0    Take-Two Interactive
         Strategy  Battle Worlds: Kronos  2016.0            Nordic Games
         Sports                  FIFA 16  2015.0         Electronic Arts
...                                  ...     ...                     ...
2600     Action          Mr. Do!s Castle  1983.0            Parker Bros.
         Action             Armor Ambush  1981.0      Mattel Interactive
         Action               Death Trap  1982.0      Avalon Interactive
         Action          Pressure Cooker  1982.0              Activision
         Action                    Krull  1982.0                   Atari

                   na_sales  eu_sales  jp_sales  other_sales  global_sales  \
platform genre
XOne     Strategy      0.15      0.05       0.0         0.02          0.22
         Strategy      0.11      0.04       0.0         0.02          0.16
         Strategy      0.06      0.02       0.0         0.01          0.09
         Strategy      0.01      0.00       0.0         0.00          0.01
         Sports        0.90      2.12       0.0         0.24          3.26
...                     ...       ...       ...          ...           ...
2600     Action        0.15      0.01       0.0         0.00          0.17
         Action        0.15      0.01       0.0         0.00          0.17
         Action        0.15      0.01       0.0         0.00          0.17
         Action        0.14      0.01       0.0         0.00          0.15
         Action        0.13      0.01       0.0         0.00          0.14

                   critic_score  critic_count  user_score  user_count rating  \
platform genre
XOne     Strategy           NaN           NaN         NaN         NaN    NaN
         Strategy          53.0           4.0         6.9        63.0      E
         Strategy          87.0          17.0         8.0        45.0      T
         Strategy          65.0           4.0         NaN         NaN   E10+
         Sports            84.0          45.0         4.4       463.0      E
...                         ...           ...         ...         ...    ...
2600     Action             NaN           NaN         NaN         NaN    NaN
         Action             NaN           NaN         NaN         NaN    NaN
         Action             NaN           NaN         NaN         NaN    NaN
         Action             NaN           NaN         NaN         NaN    NaN
         Action             NaN           NaN         NaN         NaN    NaN

                         date
platform genre
XOne     Strategy  2015-07-01
         Strategy  2013-01-01
         Strategy  2016-04-12
         Strategy  2016-12-02
         Sports    2015-07-10
...                       ...
2600     Action    1983-06-20
         Action    1981-10-19
         Action    1982-11-14
         Action    1982-10-11
         Action    1982-07-13

[17408 rows x 14 columns]

In [17]:
indexed.sort_index(level=['genre'], ascending=[True])

                                               name    year  \
platform genre
PS3      Action                  Grand Theft Auto V  2013.0
PS2      Action       Grand Theft Auto: San Andreas  2004.0
X360     Action                  Grand Theft Auto V  2013.0
PS2      Action         Grand Theft Auto: Vice City  2002.0
PS4      Action                  Grand Theft Auto V  2014.0
...                                             ...     ...
PC       Strategy                        Greed Corp  2010.0
         Strategy             Stronghold Crusader 2  2014.0
         Strategy  Medieval: Total War Gold Edition  2006.0
         Strategy                          BC Kings  2008.0
         Strategy                     CivCity: Rome  2006.0

                              publisher  na_sales  eu_sales  jp_sales  \
platform genre
PS3      Action    Take-Two Interactive      7.02      9.14      0.98
PS2      Action    Take-Two Interactive      9.43      0.40      0.41
X360     Action    Take-Two Interactive      9.66      5.17      0.06
PS2      Action    Take-Two Interactive      8.41      5.49      0.47
PS4      Action    Take-Two Interactive      4.12      6.77      0.39
...                                 ...       ...       ...       ...
PC       Strategy     DTP Entertainment      0.00      0.00      0.00
         Strategy       Firefly Studios      0.00      0.00      0.00
         Strategy            Activision      0.00      0.01      0.00
         Strategy        Strategy First      0.00      0.00      0.00
         Strategy  Take-Two Interactive      0.00      0.00      0.00

                   other_sales  global_sales  critic_score  critic_count  \
platform genre
PS3      Action           3.97         21.12          97.0          50.0
PS2      Action          10.57         20.81          95.0          80.0
X360     Action           1.41         16.30          97.0          58.0
PS2      Action           1.78         16.15          95.0          62.0
PS4      Action           2.08         13.36          97.0          66.0
...                        ...           ...           ...           ...
PC       Strategy         0.00          0.01          76.0           7.0
         Strategy         0.00          0.01           NaN           NaN
         Strategy         0.00          0.01           NaN           NaN
         Strategy         0.00          0.01           NaN           NaN
         Strategy         0.00          0.01          67.0          46.0

                   user_score  user_count rating        date
platform genre
PS3      Action           8.2      4009.0      M  2013-07-15
PS2      Action           9.0      1606.0      M  2004-09-04
X360     Action           8.1      3722.0      M  2013-04-02
PS2      Action           8.7       736.0      M  2002-09-20
PS4      Action           8.3      2955.0      M  2014-06-11
...                       ...         ...    ...         ...
PC       Strategy         7.1        44.0      E  2010-10-05
         Strategy         NaN         NaN    NaN  2014-12-17
         Strategy         NaN         NaN      T  2006-04-08
         Strategy         NaN         NaN    NaN  2008-03-10
         Strategy         6.9        32.0   E10+  2006-12-08

[17408 rows x 14 columns]