In [1]:
import pandas as pd
df = pd.read_csv('./datasets/game_sales.csv')

In [2]:
df.head()

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating,date
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.54,76.0,51.0,8.0,324.0,E,2006-10-09
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,1985-01-20
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0,E,2008-11-16
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0,E,2009-11-25
4,Pokemon Red/Pokemon Blue,G,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,1996-08-17

In [3]:
# Slicing lists.
breeds = ["Labrador", "Poodle",
          "Chow Chow", "Schnauzer",
          "Labrador", "Chihuahua",
          "St. Bernard"]

# Final value is not included.
print(breeds[2:5])
print(breeds[:5])
print(breeds[:])

['Chow Chow', 'Schnauzer', 'Labrador']
['Labrador', 'Poodle', 'Chow Chow', 'Schnauzer', 'Labrador']
['Labrador', 'Poodle', 'Chow Chow', 'Schnauzer', 'Labrador', 'Chihuahua', 'St. Bernard']

In [4]:
# Slicing DataFrames.
# First sort the index.

indexed = df.set_index(['platform', 'genre']).sort_index()
indexed.head()

                                        name    year     publisher  na_sales  \
platform genre
2600     Action                      Frogger  1981.0  Parker Bros.      2.06
         Action  E.T.: The Extra Terrestrial  1981.0         Atari      1.84
         Action                       Combat  1977.0         Atari      1.17
         Action                   Spider-Man  1981.0  Parker Bros.      0.87
         Action              Custers Revenge  1981.0      Mystique      0.76

                 eu_sales  jp_sales  other_sales  global_sales  critic_score  \
platform genre
2600     Action      0.12       0.0         0.02          2.20           NaN
         Action      0.11       0.0         0.02          1.97           NaN
         Action      0.07       0.0         0.01          1.25           NaN
         Action      0.05       0.0         0.01          0.93           NaN
         Action      0.05       0.0         0.01          0.82           NaN

                 critic_count  user_score  user_count rating        date
platform genre
2600     Action           NaN         NaN         NaN    NaN  1981-08-18
         Action           NaN         NaN         NaN    NaN  1981-03-02
         Action           NaN         NaN         NaN    NaN  1977-11-10
         Action           NaN         NaN         NaN    NaN  1981-11-19
         Action           NaN         NaN         NaN    NaN  1981-10-18

In [5]:
# Slicing the outer index level
# Final value is included.

indexed.loc["PC":"PS4"]

                                                      name    year  \
platform genre
PC       Action                               Guild Wars 2  2012.0
         Action                             Tomb Raider II  1997.0
         Action                         Grand Theft Auto V  2015.0
         Action                                Tomb Raider  1996.0
         Action              Grand Theft Auto: San Andreas  2005.0
...                                                    ...     ...
PS4      Strategy           SD Gundam G Generation Genesis  2016.0
         Strategy                     Grand Ages: Medieval  2015.0
         Strategy                Nobunaga no Yabou: Souzou  2014.0
         Strategy  Nobunagas Ambition: Sphere of Influence  2014.0
         Strategy                    Battle Worlds: Kronos  2016.0

                              publisher  na_sales  eu_sales  jp_sales  \
platform genre
PC       Action                  NCSoft      0.97      1.09      0.00
         Action       Eidos Interactive      0.91      1.25      0.00
         Action    Take-Two Interactive      0.40      0.74      0.00
         Action       Eidos Interactive      0.96      0.07      0.00
         Action    Take-Two Interactive      0.00      0.93      0.00
...                                 ...       ...       ...       ...
PS4      Strategy    Namco Bandai Games      0.00      0.00      0.10
         Strategy         Kalypso Media      0.00      0.05      0.02
         Strategy            Tecmo Koei      0.00      0.00      0.06
         Strategy            Tecmo Koei      0.04      0.00      0.00
         Strategy          Nordic Games      0.01      0.00      0.00

                   other_sales  global_sales  critic_score  critic_count  \
platform genre
PC       Action           0.28          2.34          90.0          69.0
         Action           0.13          2.29           NaN           NaN
         Action           0.09          1.23          96.0          57.0
         Action           0.00          1.03          86.0          18.0
         Action           0.04          0.97          93.0          47.0
...                        ...           ...           ...           ...
PS4      Strategy         0.00          0.10           NaN           NaN
         Strategy         0.01          0.08          64.0          10.0
         Strategy         0.00          0.06           NaN           NaN
         Strategy         0.01          0.05          80.0          20.0
         Strategy         0.00          0.01          62.0           6.0

                   user_score  user_count rating        date
platform genre
PC       Action           7.9      2958.0      T  2012-11-09
         Action           8.2        39.0    NaN  1997-02-02
         Action           7.9      3826.0      M  2015-01-04
         Action           8.5      3572.0      M  1996-07-07
         Action           8.9      1864.0      M  2005-07-01
...                       ...         ...    ...         ...
PS4      Strategy         NaN         NaN    NaN  2016-11-08
         Strategy         7.1        12.0      T  2015-11-25
         Strategy         NaN         NaN    NaN  2014-06-17
         Strategy         8.1        47.0      T  2014-06-21
         Strategy         NaN         NaN    NaN  2016-08-05

[6321 rows x 14 columns]

In [6]:
# Slicing the inner index levels
indexed.loc[('PC', 'Platform'):('PS4', 'Sports')]

                                          name    year  \
platform genre
PC       Platform            Sonic Generations  2011.0
         Platform               Rayman Origins  2012.0
         Platform        Mirrors Edge Catalyst  2016.0
         Platform                 Mirrors Edge  2009.0
         Platform                      Trine 2  2011.0
...                                        ...     ...
PS4      Sports     Mark McMorris Infinite Air  2016.0
         Sports              Rugby Challenge 3  2016.0
         Sports            Tour de France 2014  2014.0
         Sports    Dino Dinis Kick Off Revival  2016.0
         Sports           R.B.I. Baseball 2016  2016.0

                                publisher  na_sales  eu_sales  jp_sales  \
platform genre
PC       Platform                    Sega      0.02      0.07       0.0
         Platform                 Ubisoft      0.00      0.06       0.0
         Platform         Electronic Arts      0.01      0.06       0.0
         Platform         Electronic Arts      0.00      0.05       0.0
         Platform  Focus Home Interactive      0.00      0.03       0.0
...                                   ...       ...       ...       ...
PS4      Sports         FuRyu Corporation      0.04      0.00       0.0
         Sports      Alternative Software      0.00      0.04       0.0
         Sports    Focus Home Interactive      0.00      0.03       0.0
         Sports                 Avanquest      0.00      0.02       0.0
         Sports                   MLB.com      0.01      0.00       0.0

                   other_sales  global_sales  critic_score  critic_count  \
platform genre
PC       Platform         0.02          0.11          77.0          11.0
         Platform         0.01          0.08          86.0          11.0
         Platform         0.00          0.07          74.0          24.0
         Platform         0.01          0.06          81.0          44.0
         Platform         0.01          0.04          84.0          55.0
...                        ...           ...           ...           ...
PS4      Sports           0.01          0.05          50.0          16.0
         Sports           0.01          0.04          64.0           4.0
         Sports           0.00          0.03          53.0           9.0
         Sports           0.00          0.02          31.0          22.0
         Sports           0.00          0.02           NaN           NaN

                   user_score  user_count rating        date
platform genre
PC       Platform         8.3       337.0      E  2011-02-13
         Platform         8.4       342.0   E10+  2012-10-04
         Platform         4.4       623.0      T  2016-08-02
         Platform         8.1      1036.0      T  2009-08-17
         Platform         8.4       670.0   E10+  2011-08-07
...                       ...         ...    ...         ...
PS4      Sports           7.2        43.0      T  2016-10-14
         Sports           6.8        12.0      E  2016-09-01
         Sports           5.1        22.0      E  2014-08-21
         Sports           4.4        67.0    NaN  2016-06-11
         Sports           NaN         NaN    NaN  2016-04-25

[5989 rows x 14 columns]

In [7]:
# Slicing columns
indexed.loc[:, "name":"publisher"]

                                          name    year               publisher
platform genre
2600     Action                        Frogger  1981.0            Parker Bros.
         Action    E.T.: The Extra Terrestrial  1981.0                   Atari
         Action                         Combat  1977.0                   Atari
         Action                     Spider-Man  1981.0            Parker Bros.
         Action                Custers Revenge  1981.0                Mystique
...                                        ...     ...                     ...
XOne     Sports              Rugby Challenge 3  2016.0    Alternative Software
         Strategy               State of Decay  2015.0  Microsoft Game Studios
         Strategy        Angry Birds Star Wars  2013.0              Activision
         Strategy                       XCOM 2  2016.0    Take-Two Interactive
         Strategy        Battle Worlds: Kronos  2016.0            Nordic Games

[17408 rows x 3 columns]

In [8]:
# Slice by rows and columns.
indexed.loc[('PC', 'Platform'):('PS4', 'Sports'), "name":"publisher"]

                                          name    year               publisher
platform genre
PC       Platform            Sonic Generations  2011.0                    Sega
         Platform               Rayman Origins  2012.0                 Ubisoft
         Platform        Mirrors Edge Catalyst  2016.0         Electronic Arts
         Platform                 Mirrors Edge  2009.0         Electronic Arts
         Platform                      Trine 2  2011.0  Focus Home Interactive
...                                        ...     ...                     ...
PS4      Sports     Mark McMorris Infinite Air  2016.0       FuRyu Corporation
         Sports              Rugby Challenge 3  2016.0    Alternative Software
         Sports            Tour de France 2014  2014.0  Focus Home Interactive
         Sports    Dino Dinis Kick Off Revival  2016.0               Avanquest
         Sports           R.B.I. Baseball 2016  2016.0                 MLB.com

[5989 rows x 3 columns]

In [9]:
bydates = df.set_index('date').sort_index()

# Slice by dates
bydates.loc['2016-11-17':'2016-11-18']

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating
date,,,,,,,,,,,,,,,
2016-11-17,WRC 6,PC,2016.0,Racing,PQube,0.0,0.01,0.00,0.0,0.01,NaN,NaN,NaN,NaN,NaN
2016-11-18,One Piece: Daikaizoku Coliseum,3DS,2016.0,Fighting,Namco Bandai Games,0.0,0.00,0.03,0.0,0.03,NaN,NaN,NaN,NaN,NaN

In [10]:
# Slice by partial dates
# Gets between 2016-01-01 and 2017-12-31

bydates.loc['2016':'2017']

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating
date,,,,,,,,,,,,,,,
2016-01-01,God Eater Off Shot:Shiou-hen Twin Pack & Anima...,PS4,2016.0,Misc,Namco Bandai Games,0.00,0.00,0.02,0.00,0.02,NaN,NaN,NaN,NaN,NaN
2016-01-01,Battlefield 1,PC,2016.0,Shooter,Electronic Arts,0.17,0.32,0.00,0.04,0.53,88.0,54.0,7.5,1263.0,M
2016-01-02,Shirogane x Spirits!,PSV,2016.0,Adventure,Technical Associates Inc,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN
2016-01-02,Norn + Nonette: Act Tune,PSV,2016.0,Action,Idea Factory,0.00,0.00,0.02,0.00,0.02,NaN,NaN,NaN,NaN,NaN
2016-01-02,Sengoku Otome: Legend Battle,PSV,2016.0,Action,Unknown,0.00,0.00,0.03,0.00,0.03,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-23,Far Cry: Primal,PC,2016.0,Action,Ubisoft,0.05,0.15,0.00,0.02,0.22,74.0,18.0,4.9,391.0,M
2016-12-23,Final Fantasy XV,XOne,2016.0,Role-Playing,Square Enix,0.28,0.15,0.01,0.04,0.48,83.0,11.0,6.7,290.0,T
2016-12-23,Lumo,PS4,2016.0,Puzzle,Rising Star Games,0.02,0.00,0.00,0.00,0.02,73.0,24.0,5.8,14.0,E10+
2016-12-25,Final Fantasy XV,PS4,2016.0,Role-Playing,Square Enix,1.01,1.12,0.81,0.42,3.37,82.0,102.0,7.7,2659.0,T
2016-12-25,Ao no Kanata no Four Rhythm,PSV,2016.0,Adventure,Unknown,0.00,0.00,0.04,0.00,0.04,NaN,NaN,NaN,NaN,NaN

In [11]:
# Subsetting by row/column number.

# loc and iloc same for df since it's integer indexed.
# loc includes end value, iloc does not.

df.loc[2:4]

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating,date
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0,E,2008-11-16
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0,E,2009-11-25
4,Pokemon Red/Pokemon Blue,G,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,1996-08-17

In [12]:
df.iloc[2:4]

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating,date
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0,E,2008-11-16
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0,E,2009-11-25

In [13]:
df.iloc[2:4, 0:4]

                name platform    year   genre
2     Mario Kart Wii      Wii  2008.0  Racing
3  Wii Sports Resort      Wii  2009.0  Sports

In [14]:
bydates.iloc[3:5]

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating
date,,,,,,,,,,,,,,,
1977-11-10,Combat,2600,1977.0,Action,Atari,1.17,0.07,0.0,0.01,1.25,NaN,NaN,NaN,NaN,NaN
1978-04-23,Home Run,2600,1978.0,Sports,Atari,0.14,0.01,0.0,0.00,0.15,NaN,NaN,NaN,NaN,NaN