In [1]:
import pandas as pd
df = pd.read_csv('./datasets/game_sales.csv')

In [2]:
df.head()

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating,date
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.54,76.0,51.0,8.0,324.0,E,2006-10-09
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,1985-01-20
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0,E,2008-11-16
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0,E,2009-11-25
4,Pokemon Red/Pokemon Blue,G,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,1996-08-17

In [3]:
# Group by two variables.
pt = df.pivot_table(values="global_sales", index="genre", columns="platform", aggfunc=sum)

pt.head()

platform,2600,3DO,3DS,DC,DS,G,GBA,GC,GEN,GG,...,SAT,SCD,SNES,TG16,WS,Wii,WiiU,X,X360,XOne
genre,,,,,,,,,,,,,,,,,,,,,
Action,29.34,NaN,59.92,1.26,112.86,7.92,55.80,37.84,2.74,NaN,...,0.65,NaN,10.08,NaN,NaN,114.45,19.63,49.28,240.69,40.24
Adventure,1.70,0.06,5.05,2.50,46.19,17.16,14.70,5.93,0.19,NaN,...,4.16,NaN,1.50,0.14,NaN,17.88,0.19,3.07,15.20,2.97
Fighting,1.24,NaN,10.67,1.83,7.12,NaN,4.21,18.43,5.90,NaN,...,8.52,NaN,26.95,NaN,NaN,23.74,6.45,13.55,37.43,2.55
Misc,3.58,NaN,11.67,NaN,136.02,13.35,36.28,16.73,0.03,NaN,...,1.20,0.1,5.02,NaN,NaN,217.22,13.13,9.58,92.00,8.42
Platform,13.27,NaN,34.29,2.54,75.98,54.91,78.32,28.66,15.45,0.04,...,0.76,1.5,65.65,NaN,NaN,89.13,22.18,9.66,11.42,1.02

In [4]:
# Pivot tables are just DataFrames with sorted indexes.

pt.loc["Adventure":"Platform"]

platform,2600,3DO,3DS,DC,DS,G,GBA,GC,GEN,GG,...,SAT,SCD,SNES,TG16,WS,Wii,WiiU,X,X360,XOne
genre,,,,,,,,,,,,,,,,,,,,,
Adventure,1.70,0.06,5.05,2.50,46.19,17.16,14.70,5.93,0.19,NaN,...,4.16,NaN,1.50,0.14,NaN,17.88,0.19,3.07,15.20,2.97
Fighting,1.24,NaN,10.67,1.83,7.12,NaN,4.21,18.43,5.90,NaN,...,8.52,NaN,26.95,NaN,NaN,23.74,6.45,13.55,37.43,2.55
Misc,3.58,NaN,11.67,NaN,136.02,13.35,36.28,16.73,0.03,NaN,...,1.20,0.1,5.02,NaN,NaN,217.22,13.13,9.58,92.00,8.42
Platform,13.27,NaN,34.29,2.54,75.98,54.91,78.32,28.66,15.45,0.04,...,0.76,1.5,65.65,NaN,NaN,89.13,22.18,9.66,11.42,1.02

In [5]:
pt.loc["Adventure":"Platform", "PC":"PS4"]

platform      PC  PCFX     PS     PS2    PS3   PS4
genre
Adventure  10.34   NaN  20.98   21.45  22.50  7.21
Fighting    0.29   NaN  72.68   92.63  51.26  9.13
Misc        8.74   NaN  44.91  101.16  47.25  8.93
Platform    0.51   NaN  64.21   72.51  29.83  8.31

In [13]:
# axis=index (default) means calculate the statistic across rows.
sumt = pt.sum(axis="index").sort_values(ascending=False)
sumt.head()

platform
PS2     1256.09
X360     975.43
PS3      943.29
Wii      910.14
DS       808.82
dtype: float64

In [15]:
sumt['PS2':'PS3']

platform
PS2     1256.09
X360     975.43
PS3      943.29
dtype: float64

In [16]:
sumt['PS2':'PS3'].iloc[0]

1256.09

In [17]:
sumt['PS2':'PS3'].max()

1256.09

In [18]:
sumt['PS2':'PS3'].min()

943.2900000000001

In [12]:
# axis=index means calculate the statistic across columns.

# useful for pivot tables but for dataframes, this doesn't
# makes sense since every column has different data type.

sumt = pt.sum(axis="columns").sort_values(ascending=False)
sumt.head()

genre
Action          1761.89
Sports          1340.99
Shooter         1067.28
Role-Playing     949.31
Platform         831.74
dtype: float64

In [8]:
# Multiple index.
mpt = df.pivot_table(
        values="global_sales", index=["publisher", "platform"],
        columns="year", aggfunc=sum, fill_value=0, margins=True)

mpt = mpt.sort_index() # DONT FORGET TO SORT INDEX
mpt = mpt.loc[:, 2009:]

mpt.head(10)

year                                   2009.0  2010.0  2011.0  2012.0  2013.0  \
publisher                    platform
10TACLE Studios              DS          0.00     0.0     0.0     0.0     0.0
                             PS2         0.00     0.0     0.0     0.0     0.0
1C Company                   PC          0.01     0.0     0.1     0.0     0.0
20th Century Fox Video Games 2600        0.00     0.0     0.0     0.0     0.0
2D Boy                       PC          0.00     0.0     0.0     0.0     0.0
3 O'Clock                    DS          0.00     0.0     0.0     0.0     0.0
3DO                          GBA         0.00     0.0     0.0     0.0     0.0
                             GC          0.00     0.0     0.0     0.0     0.0
                             N64         0.00     0.0     0.0     0.0     0.0
                             PS          0.00     0.0     0.0     0.0     0.0

year                                   2014.0  2015.0  2016.0  2017.0   All
publisher                    platform
10TACLE Studios              DS           0.0     0.0     0.0     0.0  0.09
                             PS2          0.0     0.0     0.0     0.0  0.02
1C Company                   PC           0.0     0.0     0.0     0.0  0.11
20th Century Fox Video Games 2600         0.0     0.0     0.0     0.0  1.94
2D Boy                       PC           0.0     0.0     0.0     0.0  0.04
3 O'Clock                    DS           0.0     0.0     0.0     0.0  0.03
3DO                          GBA          0.0     0.0     0.0     0.0  0.36
                             GC           0.0     0.0     0.0     0.0  0.01
                             N64          0.0     0.0     0.0     0.0  2.19
                             PS           0.0     0.0     0.0     0.0  5.93

In [9]:
# Slicing by multiple index
mpt = mpt.loc[('Electronic Arts','PC'):('Nintendo','PS4')]
mpt.head(10)

year                      2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
publisher       platform
Electronic Arts PC          9.57    5.55   11.36    2.52    4.25    4.85
                PS          0.00    0.00    0.00    0.00    0.00    0.00
                PS2         4.57    1.64    0.09    0.00    0.00    0.00
                PS3        19.84   28.35   29.17   22.14   17.10    8.01
                PS4         0.00    0.00    0.00    0.00    9.76   12.80
                PSP         4.33    2.56    0.75    0.35    0.19    0.00
                PSV         0.00    0.00    0.00    2.34    0.41    0.63
                SAT         0.00    0.00    0.00    0.00    0.00    0.00
                Wii        17.76   10.35    2.78    1.19    0.38    0.57
                WiiU        0.00    0.00    0.00    0.98    0.27    0.00

year                      2015.0  2016.0  2017.0     All
publisher       platform
Electronic Arts PC          1.22    1.16     0.0   72.45
                PS          0.00    0.00     0.0   91.92
                PS2         0.00    0.00     0.0  257.01
                PS3         4.01    1.15     0.0  166.17
                PS4        26.03   20.05     0.0   68.64
                PSP         0.00    0.00     0.0   39.55
                PSV         0.00    0.00     0.0    3.38
                SAT         0.00    0.00     0.0    0.08
                Wii         0.00    0.00     0.0   62.20
                WiiU        0.00    0.00     0.0    1.25

In [10]:
# Multiple index and row.
mpt = df.pivot_table(
        values="global_sales", index=["publisher", "platform"],
        columns=["year", "genre"], aggfunc=sum, fill_value=0, margins=True)

mpt = mpt.sort_index() # DONT FORGET TO SORT INDEX
mpt = mpt.loc[:, 2009:]

mpt.head(10)

year                                  2009.0                                   \
genre                                 Action Adventure Fighting Misc Platform
publisher                    platform
10TACLE Studios              DS          0.0       0.0      0.0  0.0      0.0
                             PS2         0.0       0.0      0.0  0.0      0.0
1C Company                   PC          0.0       0.0      0.0  0.0      0.0
20th Century Fox Video Games 2600        0.0       0.0      0.0  0.0      0.0
2D Boy                       PC          0.0       0.0      0.0  0.0      0.0
3 O'Clock                    DS          0.0       0.0      0.0  0.0      0.0
3DO                          GBA         0.0       0.0      0.0  0.0      0.0
                             GC          0.0       0.0      0.0  0.0      0.0
                             N64         0.0       0.0      0.0  0.0      0.0
                             PS          0.0       0.0      0.0  0.0      0.0

year                                                                      \
genre                                 Puzzle Racing Role-Playing Shooter
publisher                    platform
10TACLE Studios              DS          0.0    0.0         0.00     0.0
                             PS2         0.0    0.0         0.00     0.0
1C Company                   PC          0.0    0.0         0.01     0.0
20th Century Fox Video Games 2600        0.0    0.0         0.00     0.0
2D Boy                       PC          0.0    0.0         0.00     0.0
3 O'Clock                    DS          0.0    0.0         0.00     0.0
3DO                          GBA         0.0    0.0         0.00     0.0
                             GC          0.0    0.0         0.00     0.0
                             N64         0.0    0.0         0.00     0.0
                             PS          0.0    0.0         0.00     0.0

year                                              ... 2016.0               \
genre                                 Simulation  ... Racing Role-Playing
publisher                    platform             ...
10TACLE Studios              DS              0.0  ...    0.0          0.0
                             PS2             0.0  ...    0.0          0.0
1C Company                   PC              0.0  ...    0.0          0.0
20th Century Fox Video Games 2600            0.0  ...    0.0          0.0
2D Boy                       PC              0.0  ...    0.0          0.0
3 O'Clock                    DS              0.0  ...    0.0          0.0
3DO                          GBA             0.0  ...    0.0          0.0
                             GC              0.0  ...    0.0          0.0
                             N64             0.0  ...    0.0          0.0
                             PS              0.0  ...    0.0          0.0

year                                                                      \
genre                                 Shooter Simulation Sports Strategy
publisher                    platform
10TACLE Studios              DS           0.0        0.0    0.0      0.0
                             PS2          0.0        0.0    0.0      0.0
1C Company                   PC           0.0        0.0    0.0      0.0
20th Century Fox Video Games 2600         0.0        0.0    0.0      0.0
2D Boy                       PC           0.0        0.0    0.0      0.0
3 O'Clock                    DS           0.0        0.0    0.0      0.0
3DO                          GBA          0.0        0.0    0.0      0.0
                             GC           0.0        0.0    0.0      0.0
                             N64          0.0        0.0    0.0      0.0
                             PS           0.0        0.0    0.0      0.0

year                                  2017.0                          All
genre                                 Action Adventure Role-Playing
publisher                    platform
10TACLE Studios              DS          0.0       0.0          0.0  0.09
                             PS2         0.0       0.0          0.0  0.02
1C Company                   PC          0.0       0.0          0.0  0.11
20th Century Fox Video Games 2600        0.0       0.0          0.0  1.94
2D Boy                       PC          0.0       0.0          0.0  0.04
3 O'Clock                    DS          0.0       0.0          0.0  0.03
3DO                          GBA         0.0       0.0          0.0  0.36
                             GC          0.0       0.0          0.0  0.01
                             N64         0.0       0.0          0.0  2.19
                             PS          0.0       0.0          0.0  5.93

[10 rows x 100 columns]

In [11]:
# Slicing by multiple index and columns.
mpt = mpt.loc[
    ('Electronic Arts','PC'):('Nintendo','PS4'),
    (2016, 'Simulation'):(2017, 'Adventure')
]

mpt.head(10)

year                         2016.0                 2017.0
genre                    Simulation Sports Strategy Action Adventure
publisher       platform
Electronic Arts PC             0.19   0.15      0.0    0.0       0.0
                PS             0.00   0.00      0.0    0.0       0.0
                PS2            0.00   0.00      0.0    0.0       0.0
                PS3            0.00   1.15      0.0    0.0       0.0
                PS4            0.00  12.79      0.0    0.0       0.0
                PSP            0.00   0.00      0.0    0.0       0.0
                PSV            0.00   0.00      0.0    0.0       0.0
                SAT            0.00   0.00      0.0    0.0       0.0
                Wii            0.00   0.00      0.0    0.0       0.0
                WiiU           0.00   0.00      0.0    0.0       0.0